*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

.container{
    height: 1250px;;
    width: auto;
    background-color: rgba(0,0,0,0.4);
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 60px;
    color: #fff;
    /* margin-bottom: 10px; */
    padding-top: 10px;
}
h1:hover{
   font-size: 65px;
   transition: 0.3s;
}
.content h3{
    font-size: 30px;
    color: #fff;
    margin-bottom: 25px;
    
}
.content  th{
    color: #fff;
    padding-bottom: 10px;
}
.content  table{
    color: #fff;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    /* margin-left:385px ; */
    display: inline-block;
    
}
p{
    color: #fff;
  
}
.content  th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 0px;
}
.content a{
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
    display:inline-block;
}

.content a:hover{
    background-color: #fff;
    color: #000;
    font-size: 30px;
}

/* .background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    
 
} */

@media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:9/16) {
    .background-clip{
        width: auto;
        height: 100%;
    }
}
.para{
    margin-bottom: 50px;
    /* justify-content: center; */
    font-size: 25px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px 20px;
    display: inline-block;
}
.vin{
    height: 1250px;;
    width: auto;
    position: absolute;
    /* right: 0;
    bottom: 0; */
    z-index: -1;

}
tr:hover {
    background-color: #f1f1f1;
    color: black;
    font-size: 30px;
    transition: 0.3s;
}
th:hover{
    background-color: #f1f1f1;
    color: black;
    font-size: 30px;
    transition: 0.3s;
}
.s{
    height: 250px;
    width: auto;
    padding-top: 50px;
}
.container h2{
    padding-bottom:20px ;
}
